/** Scrolling Tables **/

.scrollable {
  position: relative;
  overflow: auto;
  height: 40vh;
  width: 50vw;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.scrollable thead,
.scrollable tbody,
.scrollable thead tr,
.scrollable tbody tr {
  width: 50vw;
}

.scrollable thead {
  height: 7vh;
  position: sticky;
  top: 0;
}


.scrollable tbody td,
.scrollable thead th {
  height: 7vh;
  box-shadow: .5px 2px 5px #004C52;
  font-size: 1em;
  background-color: #203647;
  color: #eefbfb;
  text-align: center;
  width: 10vw;
}

.hidden {
  width: 5em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button[type='submit'] {
  align-self: center;
  width: 7rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #203647;
  color: #eefbfb;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: transform 150ms ease;
}

.form button[type='submit']:hover {
  background-color: #4da8da;
  color: #203647;
  box-shadow: 0 0 5px 3px #eefbfb;
}

.form button[type='submit']:active {
  transform: scale(0.99);
}

.nav button {
  position: fixed;
  top: 0;
  right: 0;
}
