.pageTitle {
  color: #eefbfb;
  margin-left:35vw;
  margin-bottom: 4rem;
}

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
}

.homeButton {
  display: inline-block;
  width: 7rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #203647;
  color: #eefbfb;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: transform 150ms ease;
}

.homeButton:hover {
  background-color: #4da8da;
  color: #203647;
  box-shadow: 0 0 5px 3px #eefbfb;
}

.homeButton:active {
  transform: scale(0.99);
}

.courseAside, .courseAside2 {
  background-color: #12232e;
  position: fixed;
  top:0;left:0;bottom: 0;
  border-right: 1px solid black;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.special{
  background-color: #4da8da;
  color: #203647;
}

.courseAside a {
  color: #eefbfb;
  padding: .75vh 0;
  text-align: center;
  background-color: #203647;
  width: 80%;
  margin: 5px auto;
}

.courseAside a:hover{
  background-color: #4da8da;
  color: #203647;
  box-shadow: 0 0 5px 3px #eefbfb;
}

.conceptDiv {
  position: fixed;
  top: 0;left: 13vw; bottom: 0;
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #203647;
  align-items: center;
}

.conceptDiv a {
  padding: 1rem 0;
  margin: 5px auto;
  text-align: center;
  color: #eefbfb;
}

.conceptDiv a:hover{
  color: #4da8da;
}

.editArea {
  width: 64vw;
}

.courseContent{
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 34vw;
  margin-right: 1.5rem;
}
.courseContent > article > h2 {
  color:#eefbfb;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  text-align: left;
}

.conceptBody {
  padding: 40px 20px;
  width: 64vw;
  background-color:#eefbfb;
  margin: 2rem 0 2rem 0;
}

.courseContent button {
  margin: 1rem 0 5rem 0.5vw;
  padding: 10px 20px;
}

.courseContent button:hover {
  background-color: rgb(100,100,100);
  color: rgb(255,255,255);
}

.editholder {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.editholder button {
  font-size: 1rem;
  font-variant: small-caps;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  width: 100px;
  height: 100%;
  margin:0;
  background-color: grey;
  color: white;
  padding: .2rem;
}
.takequiz, .editholder a{
  font-size: .75rem;
  font-variant: small-caps;
  text-align: center;
  width: 150px;
  margin-left: .5rem;
  background-color: grey;
  color: white;
  padding:.43rem;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.editholer button:hover, .takequiz:hover, .editholder a:hover {
  background-color: lightgrey;
  color: black;
}

.takequiz {
  margin-left: 0;
}
