html,
body {
  background-color: rgba(0, 72, 99, 1);
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top:0;left:0;right:0;
  height: 50px;
}

nav button {
  width:75px;
  margin: 0 5px;
  background-color: #203647;
  color: #eefbfb;
  right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
