.main {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.main h1 {
  text-align: center;
  font-size: 4rem;
  color: #eefbfb;
}

.main button:hover{
  background-color: rgb(100,100,100);
  color: rgb(255,255,255);
}

.save_button {
  position: relative;
  left: 90%;
  padding: 5px 10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 900px;
  background-color: #eefbfb;
  height: 700px;
}

.carousel section {
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.carousel h2 {
  font-size: 5vw;
  margin-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.carousel aside {
}
.carousel section aside h3 {
  margin: 0;
}
.carousel section aside p {
  background-color: rgb(155,155,155);
  color: white;
  font-size: 1.5rem;
  margin: .5rem 0;
  padding: .5rem;
  text-align: left;
  display: block;
  opacity: 0;
}

.carousel section aside p:hover{
  opacity: 1;
}

.carousel section form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.carousel section ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;padding: 0;
}

.carousel section ul li{
  font-size: 3vw;
  margin: .5rem 0;
}

.carousel section form input {
  min-height: .65rem; min-width: .65rem;
  height: 1.5vw;width: 1.5vw;
  margin:1rem 1rem .5rem 0;
}

.carousel section form label {
  color: rgba(0, 72, 99, 1);
  font-size: 2.5vw;
  font-variant: small-caps;
}

.carousel section form button {
  background-color: darkgrey;
  padding: .25rem;
  width: 6.5rem;
  margin: 1rem 0;
  font-size: 1rem;
}

.carousel button {
  color: #eefbfb;
  background-color:rgba(0, 72, 99, 1);
  margin: .5rem;
}

.carousel div {
  display: flex;
  flex-direction: row;
}
.carousel span {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(0,0,0,1);
}

@media only screen and (min-width:1100px){
  .carousel section ul li{
    font-size: 2rem;
  }

  .carousel section form input {
    height:1rem;width:1rem;
  }

  .carousel section form label {
    font-size: 2vw;
  }
}
